body ,html {
    background-image: url('../images/img3.jpg');
    background-size:cover;
    background-position: center;
    height:100%;
    width: 100%;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    width: 100%;
   color: aliceblue;
}

.weather-info {
    display: none;
}

.input-group-append {
    margin-left: -1px;
    height: calc(2.25rem + 2px);
}
.card {
    border: none;
    background: none;    
}
#main {
    display: flex;
    align-items: center;
    /* width: 26em !important; */
    min-width: 100%;

}
.name {
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.main-icon > i {
    font-size: 120px; 
    padding: 16px;
  
}

.current {
    font-size: 60px;
}

.min {
    font-size: 30px;
}
.max {
    font-size: 30px;
}
.description {
    text-align: center;
    font-size: 30px;
}
.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.more-div  {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.more-div > div {
    padding: 16px;
}

.more-div > div, p {
    font-size: 20px;
    font-weight: bold;
}
.more-div > div ,i {
    font-size: 60px;
    text-align: center;
}
.desc0, .desc1, .desc2, .desc3, .desc4 {
    font-weight: normal;
}
.day1, .day2, .day3, .day4, .day5 {
    margin-bottom: 0px;
}
.day > .date {
    font-size: 20px;
    font-weight: normal;
}


@media screen and (max-width: 500px) {
 
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 16px;
        width: 100%;
        margin: 16px;
    }

    .more-div {
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
 
    .more-div > div {
        padding: 10px;
    }
    
    .more-div > div, p {
        font-size: 16px;
        font-weight: bold;
    }
    .more-div > div, i {
        font-size: 30px;
        padding-bottom: 10px;
      
    }
    
    .more-div > .date-one ,.date-two ,.date-three ,.date-four ,.date-five {
        font-size: 10px;
        font-weight: normal;
    }
}