html {
    height:100%;
    width: 100%;
    
}
body {
    height:100%;
    width: 100%;
    
}

body {
    background-image: url('../images/main.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cuprum', sans-serif;
}
.fab {
    float: left;
    font-size: 60px;
    color:gainsboro;
    margin-left: 20px;
    margin-top: 16px;
    transition: transform .2s;
}

.fab:hover {
    transform: scale(1.5);
}

.heading ,#mainHeading >h1 {
    text-align: center;
    color: white;
}
.heading p {
    font-size: 60px;
}
h1 {
    font-size: 80px;
    margin: 16px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    width: 100%;
}

.weather-info {
    display: none;
}

.input-group-append {
    margin-left: -1px;
    height: calc(2.25rem + 2px);
}
#enter-button {
    background-color: antiquewhite;
}
.card {
    border: none;
    background: none;    
}
.card-body {
    padding: 0px;
}
#main {
    display: flex;
    align-items: center;
    min-width: 100%;

}
.name {
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.main-icon > i {
    font-size: 120px; 
}

.current {
    font-size: 60px;
}

.min, .min > i {
    font-size: 30px;
}
.max, .max > i {
    font-size: 30px;
}
.description {
    text-align: center;
    font-size: 30px;
}
.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.more-div  {
    display: flex;
    flex-direction: row;
}

.more-div > div {
    padding: 16px;
}

.more-div > div, p {
    font-size: 20px;
    font-weight: bold;
}
.more-div > div ,i {
    font-size: 60px;
    text-align: center;
}

.day1, .day2, .day3, .day4, .day5 {
    margin-bottom: 0px;
}
.week-days {
 
}
.week-days> div + p~p {
    font-weight: normal;
}
.week-days >p {
    margin-bottom: 0px;
}

@media screen and (max-width: 500px) {
   
    .heading p {
        font-size: 20px;
    }
    .heading {
        margin:16px;
        padding:16px;
    }
    h1 {
        font-size: 40px;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 16px;
        width: 100%;
    }

    .more-div {
        display: flex;
        padding: 10px;
        justify-content: center;

    }
 
    .more-div > div {
        padding: 10px;
    }
    
    .more-div > div, p {
        font-size: 12px;
        font-weight: bold;
    }

    .more-div > div, i {
        font-size: 30px;
        padding-bottom: 10px;
      
    }

    
    .more-div > .week-days {
        font-size: 12px;
        font-weight: normal;
        height: 50px;
        width: 50px;
    }
    .day-one, .day-two, .day-three, .day-four, .day-five {
        padding: 20px;
    }
    .name {
        font-size: 30px;
        padding-top:0px;
    }
    .main-icon > i {
        font-size: 80px; 
        padding: 16px;
    }
    .mb-3, .my-3 {
        margin-bottom: 0px!important;
    }
    .current {
        font-size: 40px;
    }
    
    .min, .min > i {
        font-size: 20px;
    }
    .max, .max > i {
        font-size: 20px;
    }
}